includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#2 \$string of function explode expects string, bool\|string given#'
